<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="footer">
		<footer class="footer">
			<div class="container">
				<p>
					&copy;B3 Technology Co., Ltd. <span class="text-muted"
						sec:authorize="isAuthenticated()" style="display: inline-block;">
						| Logged user: <span sec:authentication="name"></span> | Roles: <span
						sec:authentication="principal.authorities"></span> | <a
						th:href="@{/logout}">Sign Out</a>
					</span>
				</p>
			</div>
		</footer>

		<script type="text/javascript"
			th:src="@{/webjars/jquery/jquery.min.js/}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/javascript/global.js}"></script>
	</th:block>
</body>
</html>