<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="header">
		<nav
			class="navbar navbar-expand-sm navbar-light bg-light navbar-static-top">
			<div class="container">
				<a class="navbar-brand h3" th:href="@{#}"> <img
					th:src="@{/img/logo.png}" width="50" height="50"
					class="d-inline-block" alt=""> API Management
				</a>

				<ul class="navbar-nav" sec:authorize="isAuthenticated()">
					<li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Link 3</a></li>
				</ul>


			</div>
		</nav>
	</th:block>
</body>
</html>