<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Index</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>Client Management</h1>
		<p>This is an unsecured page, but you can access the secured pages
			after authenticating.</p>
		<ul>
			<li>Go to the <a href="/user" th:href="@{/user}">secured
					pages</a></li>
		</ul>
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr class="table-primary">
						<th>#</th>
						<th>CLIENT_ID</th>
						<th>API_KEY</th>
						<th>EXPIRED_DATE</th>
						<th>CREATED_DATE</th>
						<th>CREATED_BY</th>
						<th>UPDATED_DATE</th>
						<th>UPDATED_BY</th>
						<th>IS_DELETE</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client,iter : ${clients}">
						<td  th:text="${iter.index +1}">#</td>
						<td th:text="${client.clientId}">CLIENT_ID</td>
						<td th:text="${client.apiKey}">API_KEY</td>
						<td th:text="${client.expiredDate}">EXPIRED_DATE</td>
						<td th:text="${client.createdDate}">CREATED_DATE</td>
						<td th:text="${client.createdBy}">CREATED_BY</td>
						<td th:text="${client.updatedDate}">UPDATED_DATE</td>
						<td th:text="${client.updatedBy}">UPDATED_BY</td>
						<td class="text-center" th:text="${client.isDelete}">IS_DELETE</td>
						<td class="text-center"><a class="btn btn-outline-success btn-sm" th:href="@{/manage?(id=${client.id})}">Manage</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>