<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>client detail</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1>Client Detail</h1>
		 <form class="form-row" action="#" th:action="@{/manage?&id=}+${data.id}" th:object="${data}" method="post">
		  <div class="form-group col-md-12">
		    <label for="CliendId">Cliend Id</label>
		    <input th:field="*{clientId}" type="text" class="form-control" id="CliendId"  placeholder="CliendId">
		<!--     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		  </div>
		  <div class="form-group col-md-12">
		    <label for="apiKey">Api Key</label>
		    <div class="input-group">
		    	<input type="text" class="form-control" id="apiKey"  th:field="*{apiKey}"  placeholder="Api Key">
		    	 <div class="input-group-append">
		    	  	<button  id ="generate-key" type="button" class="btn btn-primary">Generate Key</button>
		    	 </div>
		    </div>
		  </div>
  		  <div class="form-group col-6">
		    <label for="createdDate">Created Date</label>
		    <input type="datetime-local" class="form-control" id="createdDate"  th:field="*{createdDate}"   readonly>
		  </div>
		   <div class="form-group col-6">
		    <label for="createdBy">Created By</label>
		    <input type="text" class="form-control" id="createdBy"  th:field="*{createdBy}" placeholder="-" readonly>
		  </div>
   		  <div class="form-group col-6">
		    <label for="updatedDate">Updated Date</label>
		    <input type="datetime-local" class="form-control" id="updatedDate"  th:field="*{updatedDate}"   readonly>
		  </div>
		   <div class="form-group col-6">
		    <label for="updatedBy">Updated By</label>
		    <input type="text" class="form-control" id="updatedBy"  th:field="*{updatedBy}" placeholder="-" readonly>
		  </div>
		   <div class="form-group col-6">
		    <label for="expiredDate">Expired Date</label>
		    <input type="datetime-local" class="form-control" id="expiredDate"  th:field="*{expiredDate}" placeholder="-" >
		  </div>
		  <div class="form-group col-6">
		    <label for="status">Status</label>
		    <input type="text" class="form-control" id="status"  th:field="*{isDelete}" placeholder="-" readonly>
		  </div>
		 <div class="form-group col-md-12">
		 	<button type="submit" class="btn btn-primary">Submit</button>
 		   	<a th:href="@{/}" class="btn btn-danger">Cancel</a>
		  
		</div>
		</form>


<!-- 	<span th:text="${data.createdDate}"></span>  -->


	</div>
	
	
<div layout:fragment="javascript" th:remove="tag">
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#generate-key").click(function (e) {
            e.preventDefault();
            $("#apiKey").val(_utils.generateUUID());
        });
   	});
    /*]]>*/
</script>
</div>
</body>
</html>